.form-container-recover {
  width: 500px;
  background-color: var(--bg-primary-color);
  padding: 1rem;
  border-radius: 16px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  @media (max-width: 768px) {
    width: 350px;
    background-color: var(--bg-primary-color);
    padding: 1rem;
    border-radius: 16px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
}
